/* ########################################## */
/* FOOTER */
/* ########################################## */

.footer {
  background-color: var(--color-bg-black);
  color: var(--color-gray);
  padding: 5rem 0;
  font-weight: 400;
}

.footer__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  border-bottom: 1px solid currentColor;
}

.footer__heading {
  color: var(--color-white);
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer__link a:link,
.footer__link a:visited {
  color: var(--color-gray);
  padding-bottom: 2px;
  border-bottom: 1px solid currentColor;
  transition: all 0.4s ease-out;
}

.footer__link a:hover,
.footer__link a:active {
  color: var(--color-red);
}

.footer__menu, .footer__information, .footer__contact {
  margin: 3rem 1rem;
}

.footer__copy {
  text-align: center;
}

.footer__form-field {
  margin-bottom: 2rem;
}

.footer__form label {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer__form input {
  width: 80%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.footer__form input::placeholder {
  font-family: inherit;
  font-size: 1.6rem;
}
