
 .nav-img{
    margin: .5rem 3rem;
    width: 80px; 
    opacity: 0;
}
.nav-img_2{
    margin: .5rem 3rem;
    width:150px;
}
.icons{
    display: flex;
    flex-direction: row;
    width: fit-content;  
}

a:hover{
    color: var(--color-red) !important;
}
.navbar-toggler{
    position: absolute;
    left: 4rem;
    top: 3rem;
    
}

@media screen and (min-width: 1024px) {
    .nav-img{
        margin: .5rem 3rem;
        width: 80px; 
        opacity: 1;
    }
    
}
