:root {
      --main-font: 'Quicksand', sans-serif;;
      --secondary-font: 'Alegreya Sans', sans-serif;

      --color-red: #F25151;
      --color-font: #2E457A;
      --color-black: #262626;
      --color-bg-black: #222222;
      --color-white: #FFFFFF;
      --color-gray: #CCCCCC;
}

*,
*::before,
*::after {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
}

html {
      font-size: 62.5%;
}

body {
      box-sizing: border-box;
      font-size: 1.6rem;
      font-family: var(--main-font);
      color: var(--color-black);
      font-weight: 600;
      line-height: 1.7;
}

img {
      display: block;
}

a {
      display: inline-block;
      text-decoration: none;
      color:var(--color-font)
}

ul {
      list-style: none;
      padding-left: 0;
}

.section-separation {
      margin-top: 10rem;
}

.heading__primary {
      font-size: 6rem;
      font-weight: 700;
      line-height: 1.2;
      color: var(--color-red);
      margin-bottom: 3rem;
}

.heading__secondary {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 5rem;
      color: var(--color-font);
}

.heading__secondary--white {
      color: var(--color-white);
}

.heading__tertiary {
      color: var(--color-red);
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 2rem;
}

.containerG {
      margin: 15rem auto;
      width: 120rem;
      max-width: 95%;
}

.btn {
      background-color: var(--color-red);
      padding: 1rem 2rem;
      color: var(--color-white);
      border: none;
      border-radius: 100px;
      font-family: inherit;
      font-size: 1.8rem;
      cursor: pointer;
      transition: all .4s ease-out;
}

.btn:hover {
      background-color: #f23a3a;
}

.none {
      display: none;
}



/* ################################### */
/* BANNER */
/* ################################### */

.banner {
      height: 50rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      display: flex;
      align-items: center;
      justify-content: center;
}

.banner--home {
      margin: 8rem 0;
      background-image: linear-gradient( to bottom right, rgba(46, 69, 122, 0.3) 0% , rgba(0, 0, 0, 0.6) 100%), url('../assets/img/planet.jpg');
}

.banner--about {
      background-image: linear-gradient( to bottom right, rgba(46, 69, 122, 0.3) 0% , rgba(0, 0, 0, 0.7) 100%), url('../assets/img/bg-blue.jpg');
}

.banner__text {
      color: var(--color-white);
      font-size: 4rem;
      font-weight: 300;
      text-align: center;
}